<nav class="titlenav">
  <h1>16 Bit Assembler</h1>
  <span class="author">By: Derek Moore</span>
</nav>

<div class="page">
  <div>
    <h2>Enter Assembly Instruction</h2>
    <input type="text" [(ngModel)]="this.input">
    <button (click)=GetInstruction() class="calculate"> Translate Assembly Code </button>
    <button (click)=clear() class="clear"> Clear </button>
    <div *ngIf="isValid && type && binaryInstruction && hexInstruction" class="answers">
      <div style="padding-bottom: 1em; font-weight: 600; font-size: 18px;">{{type}}</div>
      <div style="padding-bottom: 0.3em;">{{binaryInstruction}}</div>
      <div>{{hexInstruction}}</div>
    </div>
    <div *ngIf="!isValid" class="invalid">
      <b>Invalid Format</b>
    </div>
  </div>
</div>